<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.edu.dao.MenuMapper">

    <!--  查询全部的父子菜单信息  -->
    <select id="findSubMenuListByPid" parameterType="int" resultMap="MenuResult">
        select * from menu where parent_id = #{pid}
    </select>

    <resultMap id="MenuResult" type="com.edu.domain.Menu">
        <id column="id" property="id"/>
        <result column="href" property="href"/>
        <result column="icon" property="icon"/>
        <result column="name" property="name"/>
        <result column="parent_id" property="parentId"/>
        <result column="description" property="description"/>
        <result column="order_num" property="orderNum"/>
        <result column="shown" property="shown"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_time" property="updatedTime"/>
        <result column="created_by" property="createdBy"/>
        <result column="updated_by" property="updatedBy"/>

        <collection property="subMenuList" ofType="com.edu.domain.Menu" select="findSubMenuListByPid" column="id"></collection>
    </resultMap>

    <!--  查询菜单列表  -->
    <select id="findAllMenu" resultType="com.edu.domain.Menu">
        select id,parent_id,href,icon,name,description,order_num,shown,level,created_time,updated_time,created_by,updated_by from menu
    </select>

    <!--  根据ID查询菜单信息  -->
    <select id="findMenuById" parameterType="int" resultType="com.edu.domain.Menu">
        select * from menu;
    </select>

    <!--  添加菜单  -->
    <insert id="saveMenu" parameterType="com.edu.domain.Menu">
        insert into menu values(null,#{parentId},#{href},#{icon},#{name},#{description},#{orderNum},#{shown},#{level},#{createdTime},#{updatedTime},#{createdBy},#{updatedBy})
    </insert>

    <!--  修改菜单  -->
    <update id="updateMenu" parameterType="com.edu.domain.Menu">
        update menu
        <trim prefix="set" suffixOverrides=",">
            <if test="parentId != null">
                parent_id = #{parentId},
            </if>
            <if test="href != null and href != ''">
                href = #{href},
            </if>
            <if test="icon != null and icon != ''">
                icon = #{icon},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="description != null and description !=''">
                description = #{description},
            </if>
            <if test="orderNum != null and orderNum != ''">
                order_num = #{orderNum},
            </if>
            <if test="shown != null and shown != ''">
                shown = #{shown},
            </if>
            <if test="level != null and level != ''">
                level = #{level},
            </if>
            <if test="updatedTime != null">
                updated_time = #{updatedTime},
            </if>
        </trim>
        <where>
            <if test="id != null and id != ''">
                id = #{id}
            </if>
        </where>
    </update>

</mapper>